#div {
    width: 500px;
    background-color: yellow;
    margin-left: 30%t;
}
#ul {
    font-size: 25px;    
    color: red
}
#img {
    display: block;
   margin-left: inherit;
}
#a:visited{
    color: green
}